<style>
    #house
    {
        max-height: 400px;
        /*margin: 0 auto;*/
        -moz-transition: 0.20s ease-out;
        -webkit-transition: 0.20s ease-out;
        -o-transition: 0.20s ease-out;
        transition: 0.20s ease-out;
    }

        #house:hover
        {
            -moz-transform: scale(0.9);
            -ms-transform: scale(0.9);
            -webkit-transform: scale(0.9);
            -o-transform: scale(0.9);
            transform: scale(0.9);
        }

    #footer
    {
        max-width: 700px;
        font-size: 0.70em;
        background: url('images/smalltau.jpg') no-repeat left top;
        margin: 20px 0 10px 0;
        padding-left: 50px;
    }
</style>
<div class="container">
    <h2>
        WELCOME TO THE POOR CLARES OF ARUNDEL
    </h2>

    <a href="/us" title="Learn more about us..."><img id="house" src="images/house.jpg" alt="Click here to enter..." class="img-responsive img-rounded" /></a>

    <div class="row">
        <div class="col-sm-10 col-md-7">
            <p>
                We are sisters, who share prayer, work, laughter and struggles, and live according to the Form of Life drawn up by St Clare
                of Assisi in 1253. <a href="/us">Learn more about us...</a>
            </p>
        </div>
    </div>

    <div id="footer">
        © Community of Poor Clares, Arundel 2014<br /> Convent of Poor Clares, Crossbush, Arundel, BN18 9PJ<br /> e-mail:
        <a href="mailto:poorclarescrossbusharundel@hotmail.co.uk">poorclarescrossbusharundel@hotmail.co.uk</a>

        <span class="fb badge">
            <a href="https://www.facebook.com/poorclaresarundel">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </span>
    </div>
</div>