<h3>Events</h3>

<h4>Annual Events</h4>
<p>Come and join us for these events which take place throughout the year!</p>

<h3>Franciscan Celebrations</h3>

<div class="pull-left panel panel-default">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/StClareStatue.jpg" />
    </div>
</div>

<div class="pull-right panel panel-default">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/StFrancis.jpg" />
    </div>
</div>

<h4>Solemnity of St Clare</h4>

<p>10th August, Transitus with 1st Vespers: 5.30pm. Followed by supper with the community</p>

<p>11th August: 8.30am Mass of St Clare</p>

<h4>Solemnity of St. Francis: 4th October</h4>

<p>3rd Oct – Transitus with 1st Vespers: 5.30pm</p>

<p>4th Oct – Mass of St. Francis: 8.30am</p>

<h4>The Easter Triduum</h4>

<h5>Maundy Thursday</h5>

<p>Mass of the Lord’s Supper: 6.30pm</p>

<p>In accordance with the Church's ancient tradition, of giving to the poor on Holy Thursday, we invite you to bring something from the following list. Gifts will be carried up in the offertory procession and will be given to a local food bank afterwards.</p>

<ul>
    <li>Tinned meat and fish</li>
    <li>pasta sauces</li>
    <li>tea</li>
    <li>coffee</li>
    <li>jam</li>
    <li>packets of soup</li>
    <li>toilet rolls</li>
</ul>

<p>Thank you for your generosity.</p>

<div class="pull-right panel panel-default">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/strewnCross.jpg" />
    </div>
</div>

<h5>Good Friday</h5>

<p>Liturgy of the Passion: 3pm</p>
<p>Way of the Cross: 5.30pm</p>

<h5>Holy Saturday</h5>

<p>Easter Vigil: 8.30pm</p>

<img class="img-thumbnail" src="/images/main/EasterVigil.jpg" />

<h5>Easter Sunday</h5>

<p>Easter Morning Mass:  8.30am</p>

<div class="pull-right panel panel-default">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/crib.jpg" />
    </div>
</div>

<h4>Christmas</h4>

<h5>Christmas Eve</h5>

<p>1st Vespers: 5.30pm</p>
<p>Vigil & Midnight Mass: 11.15pm</p>
<p>Please join us for refreshments afterwards</p>

<h5>Christmas Day</h5>

<p>Christmas Morning Mass: 8.30am</p>

<div class="pull-left panel panel-default">
    <div class="panel-body">
        <img class="img-responsive" src="/images/main/Taize.png" />
    </div>
</div>

<h4>Taize Evening</h4>

<p>Every last Friday of the month (except December): 7.15 - 8.15</p>
<p>...round the Cross with Scripture, song and silence</p>

<h4>Every Sunday</h4>
<p>Exposition: 4:30pm</p>
<p>Vespers with Benediction: 5:30pm</p>

<h4>Every Tuesday</h4>
<p>John Main Meditation Group: 7:15pm</p>
