<h3>Links</h3>

<p>Below is a list of links to some of our fellow organisations:</p>

<h4>Prayer</h4>
<p><a href="http://www.sacredspace.ie" target="_blank">www.sacredspace.ie</a></p>
<p><a href="http://www.prayingeachday.org" target="_blank">www.prayingeachday.org</a></p>

<h4>Poor Clares</h4>
<p><a href="http://www.poorclaresedinburgh.org" target="_blank">Humbie</a></p>
<p><a href="http://www.poorclares.co.uk" target="_blank">Lynton</a></p>

<h4>Franciscan Men</h4>
<p><a href="http://www.ofm.org" target="_blank">Order of Friars Minor</a></p>
<p><a href="http://www.ofmcap.org" target="_blank">Order of Friars Minor Capuchins</a></p>
<p><a href="http://www.ciofs.org" target="_blank">Secular Franciscan Order</a></p>

<h4>Anglican Franciscans</h4>
<p><a href="http://www.franciscans.org.uk" target="_blank">www.franciscans.org.uk</a></p>

<h4>Vocations</h4>
<p><a href="http://www.vocationsgroup.org.uk" target="_blank">www.vocationsgroup.org.uk</a></p>
<p><a href="http://www.godknowswhere.org.uk" target="_blank">www.godknowswhere.org.uk</a></p>
<p><a href="http://www.ukvocation.org" target="_blank">www.ukvocation.org</a></p>

<h4>Icons</h4>
<p><a href="http://www.sanctiangeli.org" target="_blank">www.sanctiangeli.org</a></p>

<h4>Information about the Catholic Faith</h4>
<p><a href="http://www.life4seekers.co.uk" target="_blank">www.life4seekers.co.uk</a></p>