<div class="header-image header-image-main"></div>
<div class="navbar navbar-default" role="navigation" ng-controller="NavController as vm">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleCollapsed()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/us" class="navbar-brand">Poor Clares</a>
        </div>
        <div uib-collapse="vm.isCollapsed" class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle>Our Life <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/us">Us</a></li>
                        <li><a href="/prayerOur">Our prayer</a></li>
                        <li class="divider"></li>
                        <li><a href="/workOur">Our work</a></li>
                        <li><a href="/workShop">Our shop</a></li>
                        <li><a href="/static/tripAroundGuestHouse.pdf" target="_self">Trip around the guesthouse</a></li>
                        <li><a href="/static/communityTripAroundHouse.pdf" target="_self">Trip around the house</a></li>
                    </ul>
                </li>
                <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle>Community <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Sister's stories</li>
                        <li><a href="/communitySistersAnn">Sister Ann</a></li>
                        <li><a href="/communitySistersClareAgnes">Sister Clare Agnes</a></li>
                        <li><a href="/communitySistersClareRuva">Sister Clare Ruva</a></li>
                        <li><a href="/communitySistersGabriel">Sister Gabriel</a></li>
                        <li><a href="/communitySistersGraca">Sister Graça</a></li>
                        <li><a href="/communitySistersJoseph">Sister Joseph</a></li>
                        <li><a href="/communitySistersMaria">Sister Maria</a></li>
                        <li><a href="/communityInterviewsWithSisters">Interviews with Sisters</a></li>
                        <li class="divider"></li>
                        <li><a href="/communityArundel">Arundel Community</a></li>
                        <li><a href="/communityVocation">Vocation</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Foundations</li>
                        <li><a href="/communityFoundationsKenya">Kenya</a></li>
                        <li><a href="/static/communityFoundationsHollington.pdf" target="_self">Hollington</a></li>
                    </ul>
                </li>
                <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle>Beginnings <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/beginningsClaresStory">Clares Story</a></li>
                        <li><a href="/beginningsClaresThoughts">Clares Thoughts</a></li>
                        <li><a href="/beginningsClaresPrayers">Clares Prayers</a></li>
                        <li class="divider"></li>
                        <li><a href="/beginningsFrancisLife">Francis Life</a></li>
                        <li><a href="/beginningsFrancisThoughts">Francis Thoughts</a></li>
                        <li><a href="/beginningsFrancisPrayers">Francis Prayers</a></li>
                    </ul>
                </li>
                <li><a href="/events">Events</a></li>
                <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle" uib-dropdown-toggle>Misc <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/miscFAQs">FAQs</a></li>
                        <li><a href="/miscLinks">Links</a></li>
                        <li><a href="/miscGlossary">Glossary</a></li>
                        <li><a href="/miscAddressesPoorClareConvents">Addresses</a></li>
                    </ul>
                </li>
                <li><a href="/prayerRequests">Prayer requests</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="font-style: italic; font-size: 0.95em; padding-right: 0.5em;">
                <li><a href="/static/Stylist_Life_in_a_convent.pdf" target="_self" title="The Stylist magazine wrote an article about us.">The Stylist</a></li>
                <li><a href="/theConvent/home" title="The BBC made a television programme about us.">The Convent</a></li>
                <li>
        <span class="fb badge" style="margin-top: 2px;">
            <a href="https://www.facebook.com/poorclaresarundel">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </span>
                </li>
            </ul>
        </div>
    </div>
</div>
