<div class="pull-right panel panel-default">
    <div class="panel-body text-center">
        <img src="/images/main/prayerAt.jpg" />
    </div>
    <div class="panel-footer">At prayer</div>
</div>

<h3>Guided Prayer - Psalm 139</h3>

<p>This time of prayer is focused on Psalm 139, but you could use the same way of prayer with many different passages from Scripture. It could be good to read the passage through a few times before settling to pray, even to read it through the night before, so it has a familiarity when you come to pray with it.</p>

<p>When you move into prayer, read the psalm a line at a time, or two lines if you prefer, and then read the same lines again and again, letting them sink right in. Let the lines float through your mind and become part of you. When you feel ready, move on to the next few lines and begin the same process, reading, pondering, letting them float through your mind and become part of you. If you want to just stay with a line, then stay there. There is no need to get to the end of the psalm in one sitting!</p>

<p>Find a place where you are not likely to be disturbed and before beginning to pray, find a comfortable position, preferably with your back straight (sitting, standing, lying, kneeling, whichever is best for you). Take a little while to move into prayer, leaving behind for a time the busyness of the day.</p>

<p>
    Listen to the sounds around you:<br />
    Someone moving in another room<br />
    Cars on the road<br />
    A plane overhead<br />
    Birds singing<br />
    Your own breathing
</p>

<p>
    As you notice a sound, let it go.<br />
    For now, it is not your concern.
</p>

<blockquote style="font-size: 0.9em;">
    <p>Psalm 139</p>

    <p>
        O Lord, you search me and you know me,<br />
        you know my resting and my rising,<br />
        you discern my purpose from afar.<br />
        You mark when I walk or lie down,<br />
        all my ways lie open to you.
    </p>

    <p>
        Before ever a word is on my tongue<br />
        you know it, O Lord, through and through.<br />
        Behind and before you besiege me,<br />
        your hand ever laid upon me.<br />
        Too wonderful for me, this knowledge,<br />
        too high, beyond my reach.
    </p>

    <p>
        O where can I go from your spirit,<br />
        or where can I flee from your face?<br />
        If I climb the heavens, you are there.<br />
        If I lie in the grave, you are there.
    </p>

    <p>
        If I take the wings of the dawn<br />
        and dwell at the sea’s furthest end,<br />
        even there your hand would lead me,<br />
        your right hand would hold me fast.
    </p>

    <p>...</p>

    <p>
        O search me, God, and know my heart.<br />
        O test me and know my thoughts.<br />
        See that I follow not the wrong path<br />
        And lead me in the path of life eternal.
    </p>

    <footer>Copyright: Grail Psalms, England. Available Harper Collins.</footer>
</blockquote>

<p>When you come to the end of the time you have decided to give to prayer, take a few moments to thank God for the time you have spent with Him and to notice how the time has been for you. Is there something which meant a lot to you, or which you felt uncomfortable with? Both are worth noticing and perhaps returning to.</p>