<div class="pull-right panel panel-default">
    <div class="panel-body text-center">
        <img src="/images/main/PrayingNun.jpg" />
    </div>
    <div class="panel-footer">At prayer</div>
</div>

<h3>Introduction To Prayer</h3>

<h4>What is Prayer?</h4>

<p>Prayer is turning to our God in our hearts and with our minds. It is talking to him in trust so that we make a relationship with him. We ask him for the good things we need and to help us when we are anxious and worried. When we realize how good he is, we praise and thank him.</p>

<h4>How to pray</h4>

<p>Life is busy and to set aside time, even if only 10 minutes, to pray needs a lot of will power and need for God. Any time you turn to God and speak to him is prayer and is of great value. For example this can be done on the bus, while cleaning your teeth, or cooking, or mowing the grass. For more information go to the Links page, and see below.</p>

<h4>What is Franciscan prayer / Spirituality</h4>

<p>St Francis and St Clare built their relationship on faith in the fact that God the Son became human, just as we are human. This showed them just how much God loved us human beings, and they wanted to repay this love by following the way Jesus lived as closely as they could. Clare said: “Love him totally who gave himself totally for your love.” Francis built his prayer on adoration because he was so aware that God was good and that he was a sinner. Clare, with her feminine instinct, prayed by just looking at Jesus, just gazing on him with love, just being herself in his presence.</p>

<p>
    You can find out more about Francis' prayers <a href="/beginningsFrancisPrayers">here</a>.<br />
    You can find out more about Clare's prayers <a href="/beginningsClaresPrayers">here</a>.
</p>